/* Ejemplo de como usar las variables con el map-get
    p{
        color: map-get($colores , "rosaRojo");
        font-family: map-get($fuentes, "titulo" );
}*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

body {
  font-family: "Open sans";
  background-color: white;
  min-width: 320px; }

.header {
  display: flex;
  height: 70px;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.29);
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  margin-bottom: 80px; }
  .header__titulo {
    color: #08A6E4;
    font-family: Raleway;
    font-style: normal;
    font-weight: 300;
    font-size: 32px; }
  .header__menu {
    width: 5%; }
  .header__link1, .header__link2, .header__link3, .header__link4 {
    display: none;
    color: #A5A5A5;
    font-style: normal;
    font-weight: 600;
    font-size: 11px;
    line-height: 15px;
    text-align: center;
    letter-spacing: 3.28px;
    text-transform: uppercase; }

.shop__titulo {
  font-family: Raleway;
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  text-align: center;
  margin-bottom: 20px; }
.shop__texto {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  text-align: center;
  width: 60%;
  display: block;
  margin: 0 auto;
  margin-bottom: 30px; }
.shop__button {
  width: 310px;
  height: 67px;
  background-color: #08A6E4;
  box-shadow: 5px 10px 14px rgba(7, 172, 230, 0.29);
  border-radius: 40px;
  color: white;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  display: block;
  margin: 0 auto;
  margin-bottom: 40px;
  border: none; }
.shop__button:hover {
  background-color: white;
  color: #08A6E4;
  border: 1px solid #08A6E4; }
.shop__image {
  background-image: url("../assets/img/background.png");
  height: 267px;
  background-position: center center;
  background-size: cover;
  margin-bottom: 30px; }
.shop__titulo2 {
  font-family: Raleway;
  font-style: normal;
  font-weight: 300;
  font-size: 30px;
  text-align: center;
  width: 60%;
  margin: 0 auto;
  margin-bottom: 40px; }

.rating .rating1 {
  position: relative; }
  .rating .rating1__item1 {
    width: 90px;
    height: 90px;
    border: 1px solid #FB3B64;
    background-color: #FB3B64;
    border-radius: 50%;
    margin: 0 auto;
    margin-bottom: 20px; }
  .rating .rating1__icon1 {
    height: 70px;
    position: absolute;
    top: 8px;
    left: 50%; }
  .rating .rating1__number1 {
    font-family: Raleway;
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 15px;
    letter-spacing: 3.28px; }
  .rating .rating1__comment1 {
    color: #A5A5A5;
    font-family: Raleway;
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    text-align: center;
    margin-bottom: 40px; }
.rating .rating2 {
  position: relative; }
  .rating .rating2__item2 {
    width: 90px;
    height: 90px;
    border: 1px solid #08A6E4;
    background-color: #08A6E4;
    border-radius: 50%;
    margin: 0 auto;
    margin-bottom: 20px; }
  .rating .rating2__icon2 {
    height: 50px;
    position: absolute;
    top: 18px;
    left: 50%; }
  .rating .rating2__number2 {
    font-family: Raleway;
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 15px;
    letter-spacing: 3.28px; }
  .rating .rating2__comment2 {
    color: #A5A5A5;
    font-family: Raleway;
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    text-align: center;
    margin-bottom: 40px; }
.rating .rating3 {
  position: relative; }
  .rating .rating3__item3 {
    width: 90px;
    height: 90px;
    border: 1px solid #55DFB4;
    background-color: #55DFB4;
    border-radius: 50%;
    margin: 0 auto;
    margin-bottom: 20px; }
  .rating .rating3__icon3 {
    width: 65px;
    position: absolute;
    top: 10px;
    left: 50%; }
  .rating .rating3__number3 {
    font-family: Raleway;
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 15px;
    letter-spacing: 3.28px; }
  .rating .rating3__comment3 {
    color: #A5A5A5;
    font-family: Raleway;
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    text-align: center;
    margin-bottom: 40px; }

.news {
  background-color: #F7F7F7;
  padding: 60px;
  margin-bottom: 40px; }
  .news__block {
    width: 314px;
    height: 370px;
    background: white;
    border: 1px solid #e8e9ed;
    border-radius: 5px;
    margin: 0 auto;
    margin-bottom: 40px;
    position: relative; }
    .news__block--separated {
      height: 252px; }
  .news__contenedor1 {
    margin-top: 40px; }
  .news__contenedor2 {
    margin-top: 35px; }
  .news__item1 {
    width: 90.12px;
    height: 90.12px;
    background: #FB3B64;
    border-radius: 41px;
    transform: rotate(-45deg);
    position: absolute;
    top: 20px;
    left: 170px; }
  .news__img1 {
    width: 192.76px;
    height: 109.93px;
    background-image: url("../assets/img/macbook.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    z-index: 1;
    margin: 0 auto; }
  .news__titulo {
    font-family: Raleway;
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    margin-left: 20px; }
  .news__texto {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    margin-top: 15px;
    margin-left: 20px;
    margin-right: 20px; }
    .news__texto--separated {
      margin-right: 52px; }
  .news hr {
    display: none; }
  .news__item2 {
    width: 131.88px;
    height: 131.7px;
    background: #08A6E4;
    border-radius: 50%;
    position: absolute;
    top: 10px;
    left: 90px; }
  .news__img2 {
    width: 175px;
    height: 134.99px;
    background-image: url("../assets/img/iphone.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    z-index: 1;
    margin-left: 90px;
    margin-top: -20px; }
  .news__item3 {
    box-sizing: border-box;
    position: absolute;
    width: 314px;
    height: 195px;
    border: 1px solid #e8e9ed;
    border-radius: 5px;
    background: #55DFB4;
    position: absolute;
    top: 250px; }
  .news__img3 {
    width: 250px;
    height: 150.72px;
    background-image: url("../assets/img/bg-trumpet.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    z-index: 1;
    margin: 0 auto;
    margin-top: 50px; }

.pricing-titulo {
  font-family: Raleway;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  margin-bottom: 40px; }

.pricing .pricing1 {
  box-sizing: border-box;
  position: relative;
  width: 293px;
  height: 251px;
  border: 1px solid #FB3B64;
  border-radius: 18px;
  margin: 0 auto;
  margin-bottom: 60px; }
  .pricing .pricing1__type {
    font-family: Raleway;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    margin-top: 80px;
    margin-left: 50px; }
  .pricing .pricing1__price {
    color: #FB3B64;
    font-style: normal;
    font-weight: 300;
    font-size: 46px;
    margin-left: 50px; }
  .pricing .pricing1__icono1 {
    margin-left: 140px;
    position: relative;
    top: -155px;
    left: -10px; }
  .pricing .pricing1 ul {
    list-style: none;
    margin: 0;
    padding: 0; }
  .pricing .pricing1 ul li {
    padding-left: 20px;
    position: relative;
    margin-bottom: 17px;
    top: -150px;
    left: 130px; }
  .pricing .pricing1 ul li::before {
    content: '';
    height: 10px;
    width: 10px;
    background-image: url("../assets/img/icons/Checkbox.svg");
    background-position: center center;
    background-size: cover;
    position: absolute;
    top: 6px;
    left: 2px; }
  .pricing .pricing1__button {
    background-color: #FB3B64;
    position: relative;
    width: 150px;
    height: 50px;
    border-radius: 23px;
    top: -140px;
    left: 70px;
    border: none;
    color: white; }
  .pricing .pricing1__button:hover {
    background-color: white;
    color: #FB3B64;
    border: 1px solid #FB3B64; }
.pricing .pricing2 {
  box-sizing: border-box;
  position: relative;
  width: 339px;
  height: 277px;
  border: 1px solid #08A6E4;
  border-radius: 18px;
  box-shadow: 5px 10px 27px rgba(7, 172, 230, 0.29);
  margin: 0 auto;
  margin-bottom: 60px; }
  .pricing .pricing2__type {
    font-family: Raleway;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    margin-top: 80px;
    margin-left: 25px; }
  .pricing .pricing2__price {
    color: #08A6E4;
    font-style: normal;
    font-weight: 300;
    font-size: 46px;
    margin-left: 40px; }
  .pricing .pricing2__info {
    position: relative;
    left: 40px; }
  .pricing .pricing2__icono2 {
    margin-left: 140px;
    position: relative;
    top: -170px;
    left: 20px;
    margin-top: 25px; }
  .pricing .pricing2 ul {
    list-style: none;
    margin: 0;
    padding: 0; }
  .pricing .pricing2 ul li {
    padding-left: 20px;
    position: relative;
    margin-bottom: 17px;
    top: -150px;
    left: 170px; }
  .pricing .pricing2 ul li::before {
    content: '';
    height: 10px;
    width: 10px;
    background-image: url("../assets/img/icons/Checkbox.svg");
    background-position: center center;
    background-size: cover;
    position: absolute;
    top: 6px;
    left: 2px; }
  .pricing .pricing2__item2 {
    position: relative;
    top: -170px;
    left: 30px; }
  .pricing .pricing2__button {
    background-color: #08A6E4;
    position: relative;
    width: 150px;
    height: 50px;
    border-radius: 23px;
    top: -140px;
    left: 85px;
    border: none;
    color: white; }
  .pricing .pricing2__button:hover {
    background-color: white;
    color: #08A6E4;
    border: 1px solid #08A6E4; }
.pricing .pricing3 {
  box-sizing: border-box;
  position: relative;
  width: 293px;
  height: 251px;
  border: 1px solid #55DFB4;
  border-radius: 18px;
  margin: 0 auto;
  margin-bottom: 90px; }
  .pricing .pricing3__type {
    font-family: Raleway;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    margin-top: 60px;
    margin-left: 25px; }
  .pricing .pricing3__price {
    color: #55DFB4;
    font-style: normal;
    font-weight: 300;
    font-size: 46px;
    margin-left: 30px; }
  .pricing .pricing3__info {
    position: relative;
    left: 30px; }
  .pricing .pricing3__icono3 {
    margin-left: 135px;
    position: relative;
    top: -160px;
    margin-top: 22px; }
  .pricing .pricing3__item3 {
    margin-left: -10px;
    position: relative;
    top: -160px;
    left: 14px; }
  .pricing .pricing3__button {
    background-color: #55DFB4;
    position: relative;
    width: 150px;
    height: 50px;
    border-radius: 23px;
    top: -132px;
    left: 70px;
    border: none;
    color: white; }
  .pricing .pricing3__button:hover {
    background-color: white;
    color: #55DFB4;
    border: 1px solid #55DFB4; }

.questions {
  position: relative;
  margin-bottom: 20px; }
  .questions__titulo {
    font-family: Raleway;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    text-align: start;
    margin-left: 40px; }
  .questions__subtitulo {
    font-style: normal;
    font-weight: 400;
    font-size: 16.5px;
    margin-left: 40px;
    text-align: start; }
  .questions__icono1 {
    height: 18px;
    width: 22px;
    margin-left: 50px;
    margin-top: 20px; }
  .questions__mail {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    color: #A5A5A5;
    margin-top: -25px;
    margin-left: 90px; }
  .questions__icono2 {
    height: 20px;
    width: 20px;
    margin-left: 50px;
    margin-top: 20px; }
  .questions__tel {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    color: #A5A5A5;
    margin-top: -25px;
    margin-left: 90px; }
  .questions__name {
    font-style: normal;
    font-weight: 500;
    font-size: 11px;
    line-height: 15px;
    letter-spacing: 3.28px;
    color: #08A6E4;
    margin-left: 50px;
    margin-top: 50px; }
  .questions__inputName {
    width: 312px;
    height: 30px;
    border: none;
    margin-left: 50px;
    text-align: center; }
  .questions hr {
    width: 312px;
    margin-left: 50px;
    margin-top: 0px; }
  .questions__email {
    font-style: normal;
    font-weight: 500;
    font-size: 11px;
    line-height: 15px;
    letter-spacing: 3.28px;
    color: #08A6E4;
    margin-left: 50px;
    margin-top: 50px; }
  .questions__inputEmail {
    width: 312px;
    height: 30px;
    border: none;
    margin-left: 50px;
    text-align: center; }
  .questions__check {
    width: 24px;
    height: 24px;
    border: 1px solid #95989A;
    border-radius: 4px;
    position: relative;
    top: 40px;
    left: 45px; }
  .questions__textPermiso {
    margin-left: 100px;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: #707070;
    padding-right: 60px;
    margin-bottom: 20px; }
  .questions__button {
    width: 226px;
    height: 57px;
    color: white;
    background: #08A6E4;
    box-shadow: 5px 10px 14px rgba(7, 172, 230, 0.29);
    border-radius: 35px;
    margin-left: 130px;
    margin-top: 20px;
    border: none;
    margin-bottom: 40px; }
  .questions__button:hover {
    background-color: white;
    color: #08A6E4;
    border: 1px solid #08A6E4; }

.footer {
  height: 89px;
  background: #F7F7F7;
  box-shadow: 0px -5px 40px rgba(0, 0, 0, 0.2);
  position: relative; }
  .footer__brand {
    font-family: Raleway;
    font-style: normal;
    font-weight: 300;
    font-size: 26px;
    line-height: 30px;
    color: #08A6E4;
    position: absolute;
    top: 20px;
    left: 20px; }
  .footer__derechos {
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 15px;
    color: #A5A5A5;
    position: absolute;
    left: 20px;
    top: 50px; }
  .footer__logo1 {
    width: 24px;
    height: 24px;
    position: absolute;
    top: 35px;
    left: 330px; }
  .footer__logo2 {
    width: 24px;
    height: 24px;
    position: absolute;
    top: 35px;
    left: 375px; }

@media only screen and (min-width: 1000px) {
  .header {
    display: grid;
    grid-template-columns: 7fr 1fr 1fr 1fr 1fr; }
    .header__menu {
      display: none; }
    .header__link1, .header__link2, .header__link3, .header__link4 {
      display: inline;
      text-decoration: none;
      border-bottom: 2px solid white;
      transition: all 300ms ease-in-out;
      padding: 20px 20px; }
    .header__link1:hover, .header__link2:hover, .header__link3:hover, .header__link4:hover {
      border-bottom: 2px solid #08A6E4;
      color: black; }

  .shop__image {
    height: 594px; }
  .shop__button {
    width: 440px; }
  .shop__titulo2 {
    margin-bottom: 90px; }

  .news {
    display: flex;
    flex-direction: column;
    /*&__item1{
    width: 90.12px;
    height: 90.12px;
    background: map-get($colores , "rosaRojo");
    border-radius: 41px;
    transform: rotate(-45deg);
    position: absolute;
    top: 20px;
    left: 170px;
}
&__img1{
    width: 386.44px;
    height: 219px;
    background-image: url("../assets/img/macbook.png");
    background-position: center;
    background-repeat: no-repeat; 
    background-size: cover; 
    position: absolute;
    top: 40px;
    left: 60px;
}
&__titulo1{
    font-family: map-get($fuentes, "titulo" );
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    position: absolute;
    top: 180px;
    left: 20px;
}
&__texto1{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    position: absolute;
    top: 260px;
    left: 20px;
    margin-right: 20px;
}
hr{
    display: none;
}*/ }
    .news__block {
      width: 90%;
      position: relative;
      flex-direction: row-reverse; }
      .news__block__contenedor1 {
        display: flex; }
        .news__block__contenedor1__item1 {
          border-radius: 20px;
          transform: rotate(-45deg); }
        .news__block__contenedor1__img1 {
          width: 386.44px;
          height: 219px; }
      .news__block__contenedor2 {
        display: flex; }
    .news__block2 {
      width: 90%;
      position: relative; }
    .news__block3 {
      width: 90%;
      position: relative; }

  .rating {
    display: flex;
    justify-content: center;
    gap: 150px; }

    /*.pricing1{
        box-sizing: border-box;
        position: relative;
        width: 293px;
        height: 251px;
        border: 1px solid map-get($colores , "rosaRojo");
        border-radius: 18px;
        margin: 0 auto;
        margin-bottom: 60px;

        &__type{
            font-family: map-get($fuentes, "titulo" );
            font-style: normal;
            font-weight: 700;
            font-size: 20px;
            line-height: 24px;
            margin-top: 80px;
            margin-left: 50px;
        }
        &__price{
            color: map-get($colores , "rosaRojo");
            font-style: normal;
            font-weight: 300;
            font-size: 46px;
            margin-left: 50px;

        }
        &__icono1{
            margin-left: 140px;
            position: relative;
            top: -155px;
            left: -10px;
            
        }
        &__item1{
            margin-left: 140px;
            position: relative;
            top: -178px;
            left: 14px;
            
        }
        &__button{
            background-color: map-get($colores, "rosaRojo" );
            position: relative;
            width: 150px;
            height: 50px;
            border-radius: 23px;
            top: -170px;
            left: 70px;
            border: none;
            color: map-get($colores, "blanco" );
        }
        &__button:hover{
            background-color: map-get($colores, "blanco" );
            color:map-get($colores, "rosaRojo" );
            border: 1px solid map-get($colores, "rosaRojo" );
        }
    }*/
  .pricing {
    display: flex;
    flex-direction: row; }
    .pricing .pricing1 {
      width: 372px;
      height: 461px; } }

/*# sourceMappingURL=styles.css.map */
