$colores: (
    "casiBlanco" : #E5E5E5,
    "celeste" : #08A6E4,
    "rosaRojo" : #FB3B64,
    "verde" : #55DFB4,
    "negro" : black,
    "gris" : #A5A5A5,
    "azulFB" : #3B5998,
    "blanco" : white,
    "grisMenos" : #e8e9ed,
    "grisClaro" : #F7F7F7,
    "otroGris" : #707070
);

$fuentes:(
    "titulo" : Raleway,
    "textos" : "Open sans"
)
;
/* Ejemplo de como usar las variables con el map-get
    p{
        color: map-get($colores , "rosaRojo");
        font-family: map-get($fuentes, "titulo" );
}*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: map-get($fuentes, "textos" );
    background-color: map-get($colores, "blanco" );
    min-width: 320px;
}
.header{
    display: flex;
    height: 70px;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.29);
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    margin-bottom: 80px;
    &__titulo{
        color: map-get($colores, "celeste" );
        font-family: map-get($fuentes, "titulo" );
        font-style: normal;
        font-weight: 300;
        font-size: 32px;
    }
    &__menu{
        width: 5%;
    }
    &__link1,&__link2,&__link3,&__link4{
        display: none;
        color: map-get($colores, "gris" );
        font-style: normal;
        font-weight: 600;
        font-size: 11px;
        line-height: 15px;
        text-align: center;
        letter-spacing: 3.28px;
        text-transform: uppercase;
    }
}

.shop{
    
    &__titulo{
        font-family: map-get($fuentes, "titulo" );
        font-style: normal;
        font-weight: 400;
        font-size: 35px;
        text-align: center;
        margin-bottom: 20px;
    }
    &__texto{
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        text-align: center;
        width: 60%;
        display: block;
        margin: 0 auto;
        margin-bottom: 30px;
    }
    &__button{
        width: 310px;
        height: 67px;
        background-color: map-get($colores, "celeste" );
        box-shadow: 5px 10px 14px rgba(7, 172, 230, 0.29);
        border-radius: 40px;
        color: map-get($colores, "blanco" );
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        display: block;
        margin: 0 auto;
        margin-bottom: 40px;
        border: none;
    }
    &__button:hover{
        background-color: map-get($colores, "blanco" );
        color:map-get($colores, "celeste" );
        border: 1px solid map-get($colores, "celeste" );
    }

    &__image{
        background-image: url("../assets/img/background.png");
        height: 267px;
        background-position: center center;
        background-size: cover;
        margin-bottom: 30px;
    }
    &__titulo2{
        font-family: map-get($fuentes, "titulo" );
        font-style: normal;
        font-weight: 300;
        font-size: 30px;
        text-align: center;
        width: 60%;
        margin: 0 auto;
        margin-bottom: 40px;
    }
}
.rating{
    
    .rating1{
    position: relative;
    
    &__item1{
        width: 90px;
        height: 90px;
        border: 1px solid map-get($colores , "rosaRojo");
        background-color: map-get($colores , "rosaRojo");
        border-radius: 50%;
        margin: 0 auto;
        margin-bottom: 20px;
}
    &__icon1{
        height: 70px;
        position: absolute;
        top: 8px;
        left: 50%;
        
    }
    &__number1{
        font-family: map-get($fuentes, "titulo" );
        font-style: normal;
        font-weight: 800;
        font-size: 20px;
        text-align: center;
        margin: 0 auto;  
        margin-bottom: 15px;
        letter-spacing: 3.28px;
    }
    &__comment1{
        color: map-get($colores , "gris");
        font-family: map-get($fuentes, "titulo" );
        font-style: normal;
        font-weight: 400;
        font-size: 17px;
        text-align: center;
        margin-bottom: 40px;
       
    }
}
.rating2{
    position: relative;
    &__item2{
        width: 90px;
        height: 90px;
        border: 1px solid map-get($colores , "celeste");
        background-color: map-get($colores , "celeste");
        border-radius: 50%;
        margin: 0 auto;
        margin-bottom: 20px;
}
    &__icon2{
        height: 50px;
        position: absolute;
        top: 18px;
        left:50%;
    }
    &__number2{
        font-family: map-get($fuentes, "titulo" );
        font-style: normal;
        font-weight: 800;
        font-size: 20px;
        text-align: center;
        margin: 0 auto;  
        margin-bottom: 15px;
        letter-spacing: 3.28px;  
    }
    &__comment2{
        color: map-get($colores , "gris");
        font-family: map-get($fuentes, "titulo" );
        font-style: normal;
        font-weight: 400;
        font-size: 17px;
        text-align: center;
        margin-bottom: 40px;
    }
}
.rating3{
    position: relative;
    
    &__item3{
        width: 90px;
        height: 90px;
        border: 1px solid map-get($colores , "verde");
        background-color: map-get($colores , "verde");
        border-radius: 50%;
        margin: 0 auto;
        margin-bottom: 20px;
}
    &__icon3{
        width: 65px;
        position: absolute;
        top: 10px;
        left: 50%;
    }
    &__number3{
        font-family: map-get($fuentes, "titulo" );
        font-style: normal;
        font-weight: 800;
        font-size: 20px;
        text-align: center;
        margin: 0 auto;  
        margin-bottom: 15px;
        letter-spacing: 3.28px;    
    }
    &__comment3{
        color: map-get($colores , "gris");
        font-family: map-get($fuentes, "titulo" );
        font-style: normal;
        font-weight: 400;
        font-size: 17px;
        text-align: center;
        margin-bottom: 40px;
    }
}}

.news{
    background-color: map-get($colores, "grisClaro" );
    padding: 60px;
    margin-bottom: 40px;

    &__block{
        width: 314px;
        height: 370px;
        background:map-get($colores , "blanco" );
        border: 1px solid map-get($colores , "grisMenos" );
        border-radius: 5px;
        margin: 0 auto;
        margin-bottom: 40px;
        position: relative;
        &--separated{
            height: 252px;
        }
       
    }
    &__contenedor1{
        margin-top: 40px;
    }
    &__contenedor2{
        margin-top: 35px;
    }
    
    &__item1{
        width: 90.12px;
        height: 90.12px;
        background: map-get($colores , "rosaRojo");
        border-radius: 41px;
        transform: rotate(-45deg);
        position: absolute;
        top: 20px;
        left: 170px;
    }
    &__img1{
        width: 192.76px;
        height: 109.93px;
        background-image: url("../assets/img/macbook.png");
        background-position: center;
        background-repeat: no-repeat; 
        background-size: cover; 
        position: relative;
        z-index: 1;
        margin: 0 auto;
    }
    &__titulo{
        font-family: map-get($fuentes, "titulo" );
        font-style: normal;
        font-weight: 400;
        font-size: 30px;
        margin-left: 20px;
    }
    &__texto{
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        margin-top: 15px;
        margin-left: 20px;
        margin-right: 20px;
        &--separated{
            margin-right: 52px;
        }
    
    }
    hr{
        display: none;
    }

    &__item2{
        width: 131.88px;
        height: 131.7px;
        background: map-get($colores , "celeste");
        border-radius: 50%;
        position: absolute;
        top: 10px;
        left: 90px;
    }
    &__img2{
        width: 175px;
        height: 134.99px;
        background-image: url("../assets/img/iphone.png");
        background-position: center;
        background-repeat: no-repeat; 
        background-size: cover; 
        position: relative;
        z-index: 1;
        margin-left: 90px;
        margin-top: -20px;
    }
    
    &__item3{
        box-sizing: border-box;
        position: absolute;
        width: 314px;
        height: 195px;
        border: 1px solid map-get($colores, "grisMenos" );
        border-radius: 5px;
        background: map-get($colores , "verde");
        position: absolute;
        top: 250px;
    }
    &__img3{
        width: 250px;
        height: 150.72px;
        background-image: url("../assets/img/bg-trumpet.png");
        background-position: center;
        background-repeat: no-repeat; 
        background-size: cover; 
        position: relative;
        z-index: 1;
        margin: 0 auto;
        margin-top: 50px;
    }
   
}  
 .pricing-titulo{
        font-family: map-get($fuentes, "titulo" );
        font-style: normal;
        font-weight: 400;
        font-size: 36px;
        line-height: 42px;
        text-align: center;
        margin-bottom: 40px;
       
    }
.pricing{
    .pricing1{
        box-sizing: border-box;
        position: relative;
        width: 293px;
        height: 251px;
        border: 1px solid map-get($colores , "rosaRojo");
        border-radius: 18px;
        margin: 0 auto;
        margin-bottom: 60px;

        &__type{
            font-family: map-get($fuentes, "titulo" );
            font-style: normal;
            font-weight: 700;
            font-size: 20px;
            line-height: 24px;
            margin-top: 80px;
            margin-left: 50px;
        }
        &__price{
            color: map-get($colores , "rosaRojo");
            font-style: normal;
            font-weight: 300;
            font-size: 46px;
            margin-left: 50px;

        }
        &__icono1{
            margin-left: 140px;
            position: relative;
            top: -155px;
            left: -10px;
            
        }
        ul{
            list-style: none;
            margin: 0;
            padding: 0;
        }
        ul li{
            padding-left: 20px;
            position: relative;
            margin-bottom: 17px;
            top: -150px;
            left: 130px;
        }
        ul li::before{
            content: '';
            height: 10px;
            width: 10px;
            background-image: url('../assets/img/icons/Checkbox.svg');
            background-position: center center;
            background-size: cover;
            position: absolute;
            top: 6px;
            left: 2px;
        }
        &__item{
            
        }
        &__button{
            background-color: map-get($colores, "rosaRojo" );
            position: relative;
            width: 150px;
            height: 50px;
            border-radius: 23px;
            top: -140px;
            left: 70px;
            border: none;
            color: map-get($colores, "blanco" );
        }
        &__button:hover{
            background-color: map-get($colores, "blanco" );
            color:map-get($colores, "rosaRojo" );
            border: 1px solid map-get($colores, "rosaRojo" );
        }
    }
    .pricing2{
        box-sizing: border-box;
        position: relative;
        width: 339px;
        height: 277px;
        border: 1px solid map-get($colores , "celeste");
        border-radius: 18px;
        box-shadow: 5px 10px 27px rgba(7, 172, 230, 0.29);
        margin: 0 auto;
        margin-bottom: 60px;

        &__type{
            font-family: map-get($fuentes, "titulo" );
            font-style: normal;
            font-weight: 700;
            font-size: 20px;
            line-height: 24px;
            margin-top: 80px;
            margin-left: 25px;
        }
        &__price{
            color: map-get($colores , "celeste");
            font-style: normal;
            font-weight: 300;
            font-size: 46px;
            margin-left: 40px;

        }
        &__info{
            position: relative;
            left: 40px;
        }
        &__icono2{
            margin-left: 140px;
            position: relative;
            top: -170px;
            left: 20px;
            margin-top: 25px;
            
        }
        ul{
            list-style: none;
            margin: 0;
            padding: 0;
        }
        ul li{
            padding-left: 20px;
            position: relative;
            margin-bottom: 17px;
            top: -150px;
            left: 170px;
        }
        ul li::before{
            content: '';
            height: 10px;
            width: 10px;
            background-image: url('../assets/img/icons/Checkbox.svg');
            background-position: center center;
            background-size: cover;
            position: absolute;
            top: 6px;
            left: 2px;
        }
        &__item2{
            position: relative;
            top: -170px;
            left: 30px;
            
        }
        &__button{
            background-color: map-get($colores, "celeste" );
            position: relative;
            width: 150px;
            height: 50px;
            border-radius: 23px;
            top: -140px;
            left: 85px;
            border: none;
            color: map-get($colores, "blanco" );
        }
        &__button:hover{
            background-color: map-get($colores, "blanco" );
            color:map-get($colores, "celeste" );
            border: 1px solid map-get($colores, "celeste" );
        }
    }

    .pricing3{
        box-sizing: border-box;
        position: relative;
        width: 293px;
        height: 251px;
        border: 1px solid map-get($colores , "verde");
        border-radius: 18px;
        margin: 0 auto;
        margin-bottom: 90px;

       

        &__type{
            font-family: map-get($fuentes, "titulo" );
            font-style: normal;
            font-weight: 700;
            font-size: 20px;
            line-height: 24px;
            margin-top: 60px;
            margin-left: 25px;
        }
        &__price{
            color: map-get($colores , "verde");
            font-style: normal;
            font-weight: 300;
            font-size: 46px;
            margin-left: 30px;
        }
        &__info{
            position: relative;
            left: 30px;
        }
        &__icono3{
            margin-left: 135px;
            position: relative;
            top: -160px;
            margin-top: 22px;
            
        }
        &__item3{
            margin-left: -10px;
            position: relative;
            top: -160px;
            left: 14px;
            
        }
        &__button{
            background-color: map-get($colores, "verde" );
            position: relative;
            width: 150px;
            height: 50px;
            border-radius: 23px;
            top: -132px;
            left: 70px;
            border: none;
            color: map-get($colores, "blanco" );
        }
        &__button:hover{
            background-color: map-get($colores, "blanco" );
            color:map-get($colores, "verde" );
            border: 1px solid map-get($colores, "verde" );
        }
    }
}
.questions{
    position: relative;
    margin-bottom: 20px;

    &__titulo{
        font-family: map-get($fuentes, "titulo" );
        font-style: normal;
        font-weight: 400;
        font-size: 40px;
        text-align: start;
        margin-left: 40px;
    }
    &__subtitulo{
        font-style: normal;
        font-weight: 400;
        font-size: 16.5px;
        margin-left: 40px;
        text-align: start;
    }
    &__icono1{
        height: 18px;
        width: 22px;
        margin-left: 50px;
        margin-top: 20px;
    }
    &__mail{
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        color: map-get($colores, "gris" );
        margin-top: -25px;
        margin-left: 90px;
    }
    &__icono2{
        height: 20px;
        width: 20px;
        margin-left: 50px;
        margin-top: 20px;
    }
    &__tel{
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        color: map-get($colores, "gris" );
        margin-top: -25px;
        margin-left: 90px;
    }
    &__name{
        font-style: normal;
        font-weight: 500;
        font-size: 11px;
        line-height: 15px;
        letter-spacing: 3.28px;
        color: map-get($colores, "celeste" );
        margin-left: 50px;
        margin-top: 50px;
    }
    &__inputName{
        width: 312px;
        height: 30px;
        border: none;
        margin-left: 50px;
        text-align: center;
    }
   
    hr{
        width: 312px;
        margin-left: 50px;
        margin-top: 0px;
    }
    &__email{
        font-style: normal;
        font-weight: 500;
        font-size: 11px;
        line-height: 15px;
        letter-spacing: 3.28px;
        color: map-get($colores, "celeste" );
        margin-left: 50px;
        margin-top: 50px;
    }
    &__inputEmail{
        width: 312px;
        height: 30px;
        border: none;
        margin-left: 50px;
        text-align: center;
    }
    &__check{
        width: 24px;
        height: 24px;
        border: 1px solid #95989A;
        border-radius: 4px;
        position: relative;
        top: 40px;
        left: 45px;

    }
    &__textPermiso{
        margin-left: 100px;
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 16px;
        color: map-get($colores, "otroGris" );
        padding-right: 60px;
        margin-bottom: 20px;
        
    }
    &__button{
        width: 226px;
        height: 57px;
        color: map-get($colores, "blanco" );
        background: map-get($colores, "celeste" );
        box-shadow: 5px 10px 14px rgba(7, 172, 230, 0.29);
        border-radius: 35px;
        margin-left: 130px;
        margin-top: 20px;
        border: none;
        margin-bottom: 40px;
    }
    &__button:hover{
        background-color: map-get($colores, "blanco" );
        color:map-get($colores, "celeste" );
        border: 1px solid map-get($colores, "celeste" );
    }
}
.footer{  
        height: 89px;
        background: #F7F7F7;
        box-shadow: 0px -5px 40px rgba(0, 0, 0, 0.2);
        position: relative;
        
        &__brand{
            font-family: map-get($fuentes, "titulo" );
            font-style: normal;
            font-weight: 300;
            font-size: 26px;
            line-height: 30px;
            color: map-get($colores, "celeste");
            position: absolute;
            top: 20px;
            left: 20px;
        }
        &__derechos{
            font-style: normal;
            font-weight: 400;
            font-size: 11px;
            line-height: 15px;
            color: map-get($colores, "gris" );
            position: absolute;
            left: 20px;
            top: 50px;
        }
        &__logo1{
            width: 24px;
            height: 24px;
            position: absolute;
            top: 35px;
            left: 330px;
        }
        &__logo2{
            width: 24px;
            height: 24px;
            position: absolute;
            top: 35px;
            left: 375px;
        }
}
//-------------vversion desktop ------------------------------------------------------------//
@media only screen and (min-width: 1000px) {
    .header{
        display: grid;
        grid-template-columns: 7fr 1fr 1fr 1fr 1fr;
        &__menu{
            display: none;
        }
        &__link1,&__link2,&__link3,&__link4{
            display: inline;
            text-decoration: none;
            border-bottom: 2px solid map-get($colores, "blanco" );
            transition: all 300ms ease-in-out;
            padding: 20px 20px;
            
        }
        &__link1:hover,&__link2:hover,&__link3:hover,&__link4:hover{
           border-bottom: 2px solid map-get($colores, "celeste");
           color: map-get($colores, "negro" );
        }
    }

    .shop{
        &__image{
            height: 594px;
        }
        &__button{
            width: 440px;
        }
        &__titulo2{
            margin-bottom: 90px;
        }
    }
    .news{
        display: flex;
        flex-direction: column;
        /*&__item1{
        width: 90.12px;
        height: 90.12px;
        background: map-get($colores , "rosaRojo");
        border-radius: 41px;
        transform: rotate(-45deg);
        position: absolute;
        top: 20px;
        left: 170px;
    }
    &__img1{
        width: 386.44px;
        height: 219px;
        background-image: url("../assets/img/macbook.png");
        background-position: center;
        background-repeat: no-repeat; 
        background-size: cover; 
        position: absolute;
        top: 40px;
        left: 60px;
    }
    &__titulo1{
        font-family: map-get($fuentes, "titulo" );
        font-style: normal;
        font-weight: 400;
        font-size: 30px;
        position: absolute;
        top: 180px;
        left: 20px;
    }
    &__texto1{
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        position: absolute;
        top: 260px;
        left: 20px;
        margin-right: 20px;
    }
    hr{
        display: none;
    }*/
        &__block{
            width: 90%;
            position: relative;
            flex-direction: row-reverse;
        
        &__contenedor1{
            
            display: flex;
            

         &__item1{
            border-radius: 20px;
            transform: rotate(-45deg);
           
        }
        &__img1{
            width: 386.44px;
            height: 219px;
         

        }
        }
        &__contenedor2{
           
            display: flex;
            
            &__titulo{

            }
            &__texto{

            }
        }
       }

        &__block2{
            width: 90%;
            position: relative;
        }

        &__block3{
            width: 90%;
            position: relative;
        }
    }
    .rating{
        display: flex;
        justify-content: center;
        gap:150px;

    }

    /*.pricing1{
        box-sizing: border-box;
        position: relative;
        width: 293px;
        height: 251px;
        border: 1px solid map-get($colores , "rosaRojo");
        border-radius: 18px;
        margin: 0 auto;
        margin-bottom: 60px;

        &__type{
            font-family: map-get($fuentes, "titulo" );
            font-style: normal;
            font-weight: 700;
            font-size: 20px;
            line-height: 24px;
            margin-top: 80px;
            margin-left: 50px;
        }
        &__price{
            color: map-get($colores , "rosaRojo");
            font-style: normal;
            font-weight: 300;
            font-size: 46px;
            margin-left: 50px;

        }
        &__icono1{
            margin-left: 140px;
            position: relative;
            top: -155px;
            left: -10px;
            
        }
        &__item1{
            margin-left: 140px;
            position: relative;
            top: -178px;
            left: 14px;
            
        }
        &__button{
            background-color: map-get($colores, "rosaRojo" );
            position: relative;
            width: 150px;
            height: 50px;
            border-radius: 23px;
            top: -170px;
            left: 70px;
            border: none;
            color: map-get($colores, "blanco" );
        }
        &__button:hover{
            background-color: map-get($colores, "blanco" );
            color:map-get($colores, "rosaRojo" );
            border: 1px solid map-get($colores, "rosaRojo" );
        }
    }*/

    .pricing{
        display: flex;
        flex-direction: row;
        .pricing1{
           
            width: 372px;
            height: 461px;
          
    }
    }
}
